.footer {
  background-color: #6a2c91; /* El morado base de la marca */
  color: white;
  position: relative;
  padding-bottom: 40px;
  margin-top: 80px; /* Espacio con la sección anterior */
}

/* El Arcoíris en la parte superior del footer */
.footer__rainbow {
  width: 100%;
  height: 10px;
  background: linear-gradient(
    90deg,
    var(--primary-red) 0%,
    var(--primary-orange) 20%,
    var(--primary-yellow) 40%,
    var(--primary-green) 60%,
    var(--primary-blue) 80%,
    var(--primary-red) 100%
  );
  background-size: 200% 100%;
  animation: moveRainbow 4s linear infinite;
  margin-bottom: 40px;
}

.footer__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.footer__brand {
  font-family: "Fredoka", sans-serif;
  font-size: 2rem;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.footer__brand span {
  color: var(--primary-yellow); /* El Kids en amarillo */
}

.footer__copy {
  font-size: 0.9rem;
  opacity: 0.8;
  font-weight: 300;
}

.footer__message {
  font-size: 0.85rem;
  background: rgba(255, 255, 255, 0.1);
  padding: 8px 20px;
  border-radius: 50px;
  border: 1px dashed rgba(255, 255, 255, 0.3);
}

/* Responsivo para que en PC se vea a los lados */
@media (min-width: 768px) {
  .footer__content {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }

  .footer__info {
    text-align: left;
  }
}
