html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-kids);
  background-color: var(--color-bg);
  color: var(--color-dark);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}
