a {
  color: inherit;
  text-decoration: none;
}

body {
  background-color: var(--color-bg);
  color: var(--color-dark);
  font-family: var(--font-kids);
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}
